.cart {
  display: flex;
  max-height: 87.3vh;
}

.form-container {
  display: inline-block;
  width: 35%;
  margin-right: 30px;
  height: 100%;
}

.cart-container {
  width: 65%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 100%;
  overflow-y: auto;
}