.checkout-form {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 30px -9px rgba(0,0,0,0.75);
  padding: 20px;
  background-color: #EBECF0;


  &__head {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &__label {
    margin-bottom: 30px;
  }

  &__error {
    font-size: 17px;
    color: red;
  }

  &__input {
    height: 35px;
    width: 100%;
    font-size: 20px;
  }

  &__input::placeholder {
    color: #606060;
    font-size: 20px;
  }

}