.navbar {

  &__list {
    display: flex;
  }

  &__link {
    padding: 20px;
    display: block;
    font-size: 25px;
    color: white;
    transition: .3s;
  }

  &__link:hover {
    color: #f9af72;
  }

}