.App {
  text-align: center;
}

.page-container {
  padding: 20px;
  max-width: 99vw;
}

.goods-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}




